# Ignore Gradle project-specific cache directory
.gradle
.idea
build/
app/file.json
app/file1.json
app/file1.yaml
app/file2.yaml
file5.json
file6.json

# Ignore Gradle build output directory
build/tmp/jar/MANIFEST.MF

