# Ignore Gradle project-specific cache directory
.gradle
.idea
build/
file.json
file1.json
file1.yml
file2.yml
file5.json
file6.json

# Ignore Gradle build output directory
build/tmp/jar/MANIFEST.MF

